html{
    height: 100% ;
    width: 100%;
}

body{
    height: 100% ;
    width: 100%;
    margin: 0;
}
#canvas_container{
    height: 100% ;
    width: 100%;
    position: absolute;
}
#gl_canvas{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

#D_canvas{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}
#html_container{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
#display{
  height: 86%;
  width: 70%;
  background-color: white;
  outline: 2px solid #000;
  outline-offset: -2px;
  margin: 100% 0 0 0;
}
#display *{
    display: none;
}
#menu{
  height: 86%;
  width: 10%;
}

#menu *{
  height: 10%;
  width: 100%;
  position: relative;
  background-color: white;
  outline: 2px solid #000;
  outline-offset: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Consolas";
  font-size: 20px;
  left: 200%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
#menu *:hover{
  background-color: grey;
}